*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: #d69909;
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  align-items:center;
  /* height: 100vh; */
}
.container{
  height:  500px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  box-shadow: 0px 6px 15px 10px rgba(0, 0, 0, 0.2);
  /* max-width: 1000px; */
}
img{
  display: block;
  width:100%;
  height: 100%;
  transition: filter 500ms ease
}

ul{
  list-style: none;
  display: inline-flex;
  justify-content: flex-start;
  padding:0;
}

ul li {
  margin: 14px;
}

.heading {
  font-size: 3rem;
  font-weight: bolder;
  font-family:sans-serif;
  height: 10px;
}
.main-text{
  color:#666;
  width:95%;
}

.container .left-side{
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.container .left-side div:nth-child(1){
  background: orange
}
.img-hero{
  position: absolute;
  background: red;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.right-side{
  display: grid;
  font-family:sans-serif;
  padding-bottom: 20px;

}
.right-side a, .right-side i{
  color:#000;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  margin: 0 5px 0 0;

}
.main-icons {
  position: absolute;
  padding:15px;

}
.main-icons i{
  margin: 0px 20px;
}
.newslitter {
  display: grid;
}
.newslitter input{
  /* display: inline-block; */
  height: 65px;
  border:none;
  outline: none;
  box-shadow: 1px 1px 20px 1px rgba(0,0,0,.25);
  padding:5px;


}
.inpust {
  display: grid;
  grid-template-columns: 60% 100px;
}

input[type="submit"]{
  background: #F9B205;
  border:none;
  border-radius: 0px 3px 5px 0px;
  padding:0;
  font-weight: bold;
}
input[type="text"]{
  border-radius: 5px 0px 0px 5px
}

.img-hero:hover img{
  filter: brightness(.85);
}

@media screen and (min-width:1280px) {
  body{
    grid-template-columns: 1200px;

  }
  .img-hero{
    /* display: none; */
    width:300px;
    height: 300px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width:768px) {
  .right-side .heading{
    font-size: 2rem
  }
  .right-side .main-text{
    font-size: 14px;
    width: 90%
  }
  .img-hero{
    /* display: none; */
    width:200px;
    height: 200px;
  }

}
@media screen and (max-width:560px) {
  .right-side .heading{
    font-size: 2rem
  }
  .right-side .main-text{
    font-size: 14px;
    width: 90%
  }
  .img-hero{
    /* display: none; */
    width:100px;
    height: 100px;
  }

}
